<div class="wrapper">
    <app-navbarpage></app-navbarpage>
    <div class="loader" *ngIf="isLoading"></div>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body login-card-body">
                        <div *ngIf="step == '1'">
                            <p class="login-box-msg" style="font-size: 25px;">
                                <span *ngIf="!isEdit">Add User</span> <span *ngIf="isEdit">Edit User</span></p>
                            <div class="row ">
                                <div class="col-md-12 mb-3">
                                    <label>NAME <span class="red">*</span></label>
                                    <input type="text" name="name" [(ngModel)]="name" class="form-control"
                                        placeholder="NAME">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>CONTACT NUMBER<span class="red">*</span> </label>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <select class="form-control" [(ngModel)]="countryCode">
                                                <option value=null disabled>Code</option>
                                                <option *ngFor="let code of codeList" [value]="code.dial_code">
                                                    {{code.dial_code}}  {{code.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" name="contact" (keypress)="keyPress($event)"
                                                [(ngModel)]="contactNumber" maxlength="10" class="form-control"
                                                placeholder="CONTACT NUMBER">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>EMAIL<span class="red">*</span></label>
                                    <input type="email" name="email" [(ngModel)]="email" class="form-control"
                                        placeholder="EMAIL" maxlength="30">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>CREATE PASSWORD </label>
                                    <input type="password" name="password" [(ngModel)]="password" class="form-control"
                                        placeholder="CREATE PASSWORD">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>RETYPE PASSWORD </label>
                                    <input type="password" name="rePassword" [(ngModel)]="rePassword"
                                        class="form-control" placeholder="RETYPE PASSWORD">
                                </div>
                            </div>
                            <label>WHERE DO YOU LIVE <span class="red">*</span></label>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label>COUNTRY</label>
                                    <select class="form-control" [(ngModel)]="country" (ngModelChange)="selectCountry($event)" >
                                        <option value=null disabled>Select Country</option>                                     
                                        <option *ngFor="let co of countryList" [ngValue]="co" >{{co.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>STATE<span class="red">*</span></label>
                                    <select class="form-control" [(ngModel)]="state">
                                        <option value=null disabled>Select State</option>      
                                        <option *ngFor="let sta of stateList;let i=index" [value]="sta.region">
                                            {{sta.region}}</option>
                                    </select>
                                </div>
                            </div>
                            <label><span class="red">*</span>WHAT IS YOUR GENDER</label>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <input type="radio" class="mr-3" value="Male" [(ngModel)]="gender">
                                    <span>MALE</span>
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" class="mr-3" value="Female" [(ngModel)]="gender">
                                    <span>FEMALE </span>
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" class="mr-3" value="Other" [(ngModel)]="gender">
                                    <span>Other</span>
                                </div>
                            </div>

                            <!-- <div class="row mb-4" style="display: inline-block;padding-left: 10px;text-align: center;">
                                    <input type="checkbox" class="mr-3"><span>I agree to Terms and Conditions governing the use of Kixtor</span>
                                </div> -->
                            <div class="row row-div">
                                <button type="button" class="btn btn-info" (click)="continue('2')">CONTINUE</button>
                            </div>
                        </div>
                        <div style="text-align: center;" *ngIf="step == '2'">
                            <label><span class="red">*</span>UPLOAD YOUR PROFILE PHOTO</label>
                            <div class="row row-div mb-2">
                                <div class="col-div">
                                    <input type="file" (change)="choosePhoto($event)">
                                </div>

                            </div>
                            <div>
                                <img src="{{addprofile}}" *ngIf="!image" style="height:70px;">
                                <img src="{{apiservice.apiUrl}}/static/{{Uploaded_filename}}" *ngIf="editImage" style="height:70px;">
                            </div>
                            <label><span class="red">*</span>WHAT ARE YOU STRENGTHS?</label>
                            <p>you may choose up to 8 strengths</p>
                            <div class="row row-div">
                                <div class="col-div">
                                    <select class="form-control mb-2" [(ngModel)]="strengths">
                                        <option [value]="null" disabled>Choose your strength</option>
                                        <option *ngFor="let strength of allStrengths;let i =index"
                                            [value]="strength.name" [selected]="i==0">{{strength.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <label><span class="red">*</span>YOU ARE AT WHAT STAGE?</label>
                            <div class="row mb-3">
                                <div class="col-md-3" *ngFor="let str of stageList;let i=index">
                                    <input type="checkbox" class="mr-3" [checked]="str.value"
                                        (change)="selectStrength($event,i)">
                                    <span>{{str.name}}</span>
                                </div>
                            </div>
                            <label><span class="red">*</span>WHAT SKILL-SETS SHOULD YOUR CO-FOUNDER BRING TO THE
                                TABLE?</label>
                            <p>you may choose up to 8 strengths</p>
                            <div class="row row-div mb-4">
                                <div class="col-div">
                                    <select class="form-control mb-2" [(ngModel)]="skills">
                                        <option [value]="null" disabled>Choose your skill</option>
                                        <option *ngFor="let skill of allSkills" [value]="skill.name">{{skill.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row row-div">
                                <button type="button" class="btn btn-secondary mr-3" (click)="back('1')">Back</button>
                                <button type="button" class="btn btn-info" (click)="continue('3')">CONTINUE</button>
                            </div>
                        </div>
                        <div *ngIf="step == '3'" style="text-align: center;">

                            <label style="text-align: center;"><span class="red">*</span>INDUSTRY</label>
                            <p style="text-align: center;">Choose up to 8 Industries of your Business Interest / Work
                                Experience</p>
                            <div class="row mb-4" style="text-align: left;">
                                <div class="col-md-4" *ngFor="let ind of industryList;let i = index">
                                    <input type="checkbox" class="mr-3" [checked]="ind.value"
                                        (change)="selectIndustry($event,i)">
                                    <span>{{ind.name}}</span>
                                </div>
                            </div>
                            <div class="row row-div">
                                <button type="button" class="btn btn-secondary mr-3" (click)="back('2')">Back</button>
                                <button (click)="submit()" class="btn btn-info">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>

    </div>
</div>