<div class="wrapper">
    <app-navbarpage></app-navbarpage>
    <div class="loader" *ngIf="isLoading"></div>
    <div class="content-wrapper">
        <div class="content-header">
            <section class="content">
                <div class="container-fluid">
                    <div class="row" *ngIf="hidefrom">
                        <div class="card mt-3 width">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="card-title"> Manage-Strength </p>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" (click)="showfrom()" style="float: right;"
                                            class="btn btn-success">
                                            <i class="fas fa-plus"></i> Add New Strength</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Strength Name</th>
                                        <th>Created Time</th>
                                        <th> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cat of allCategory;let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{cat.name}}</td>
                                        <td>{{cat.created_at | date: 'dd-MMM-yyyy'}}</td>
                                        <td>
                                            <i class="fa fa-pencil-square-o edit-icon mr-2" (click)="editcategory(cat)"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-trash pointer delete-icon" title="delete"
                                                (click)="deleteCategory(cat._id,i)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row" *ngIf="!hidefrom">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1" *ngIf="!_id">Add New Strength</label>
                                <label for="exampleInputEmail1" *ngIf="_id">Edit New Strength</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    [(ngModel)]="categoryName" placeholder="New Strength">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" style="margin: 30px;" class="btn btn-info buttonpostion"
                                *ngIf="hidebutton" (click)="addCategory()">Submit</button>

                            <button type="button" *ngIf="!hidebutton" style="margin: 30px;"
                                class="btn btn-info buttonpostion" (click)="Updatecat()">Update</button>

                            <button type="button" class="btn btn-secondary" (click)="hidedata()"
                                data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>