<div class="wrapper">
    <app-navbarpage></app-navbarpage>
    <div class="loader" *ngIf="isLoading"></div>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body login-card-body">
                        <div>
                            <p class="login-box-msg" style="font-size: 25px;">
                                <span *ngIf="!isEdit">Add Membership</span> <span *ngIf="isEdit">Edit Membership</span>
                            </p>
                            <div class="row ">
                                <div class="col-md-12 mb-3">
                                    <label>PACKAGE NAME<span class="red">*</span></label>
                                        <select class="form-control"  [(ngModel)]="name">
                                            <option value=null disabled>Choose package</option>
                                            <option value="GOLD">GOLD</option>
                                            <option value="SAPPHIRE">SAPPHIRE</option>
                                            <option value="PLATINUM">PLATINUM</option>
                                        </select>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>PACKAGE AMOUNT<span class="red">*</span> </label>
                                    <input type="text" name="amount" (keypress)="keyPress($event)" [(ngModel)]="amount"
                                        maxlength="10" class="form-control" placeholder="PACKAGE AMOUNT">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>NUMBER OF MONTHS<span class="red">*</span></label>
                                    <input type="text" name="months" (keypress)="keyPress($event)" [(ngModel)]="months"
                                    maxlength="2"   class="form-control" placeholder="NUMBER OF MONTHS">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>VIEW PHONE NUMBERS<span class="red">*</span></label>
                                    <input type="text" name="viewPhone" (keypress)="keyPress($event)"
                                    maxlength="4"   [(ngModel)]="viewPhone" class="form-control" placeholder="VIEW PHONE NUMBERS">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label>CAN CONNECT AND MESSAGE PROFILES<span class="red">*</span></label>
                                    <input type="text" name="connectMessage" (keypress)="keyPress($event)"
                                    maxlength="4"  [(ngModel)]="connectMessage" class="form-control" placeholder="CAN CONNECT AND MESSAGE PROFILES">
                                </div>
                            </div>
                            <div class="row row-div">
                                <button type="button" class="btn btn-info" (click)="submit()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>