<div class="wrapper">
    <app-navbarpage></app-navbarpage>
    <!-- <div class="loader" *ngIf="isLoading"></div> -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body login-card-body">

                        <p class="login-box-msg" style="font-size: 25px;">
                            <span *ngIf="!isEdit">Add Mentor</span>
                            <span *ngIf="isEdit">Edit Mentor</span>
                        </p>
                    </div>
                    <div class="row" style="padding:0% 2%;">
                        <div class="col-md-6 mb-3">
                            <label>Mentor Name <span class="red">*</span></label>
                            <input type="text" name="name" [(ngModel)]="name"  class="form-control"
                                placeholder="Mentor name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mentor Post <span class="red">*</span></label>
                            <input type="text" name="post" [(ngModel)]="post"  class="form-control"
                                placeholder="Mentor Post">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mentor Email <span class="red">*</span></label>
                            <input type="email" name="email"  [(ngModel)]="email"  class="form-control"
                                placeholder="Mentor email">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mentor Hourly Charge<span class="red">*</span></label>
                            <input type="text" name="cost"  [(ngModel)]="cost" class="form-control"
                                placeholder="Hourly rate">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Mentor Image <span class="red">*</span></label>
                            <input type="file"  (change)="choosePhoto($event)" class="form-control"
                                placeholder="Image">
                                <img src="{{addprofile}}" *ngIf="!image" style="height:70px;    margin-left: 25%;
                                margin-top: 5%;">
                        </div>
                       
                        <div class="col-md-6 mb-3">
                            <label>Mentor Country <span class="red">*</span></label>
                           <select class="form-control" [(ngModel)]="country">
                            <option value=null disabled>Select Country</option>                                     
                            <option *ngFor="let co of countryList" [ngValue]="co.name" >{{co.name}}</option>
                               </select>
                        </div>
                        
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-md-12">
                            <button type="button" style="margin: 30px;"
                            class="btn btn-info buttonpostion" (click)="addmentor()">Submit</button>
                            <button type="button" class="btn btn-secondary"
                            data-dismiss="modal" (click)="gotomenterpage()">Cancel</button>
                        </div>
                    </div>
                    </div>
            </div>
        </section>
    </div>
</div>