


<div class="wrapper header">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li id="navheight" class="nav-item">
          <a class="nav-link" data-widget="pushmenu"  role="button"><i class="fas fa-bars"></i></a>
        </li>
       
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">{{getnotification.length}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
            <span class="dropdown-item dropdown-header">{{getnotification.length}} Notifications</span>
            <div class="dropdown-divider"></div>
            <div *ngFor="let noti of getnotification">
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i>{{noti.user_id.name}}
              <span class="float-right text-muted text-sm">{{getTime(noti.created_at)}}</span>
            </a>
            <div class="dropdown-divider"></div>
          </div>
            <!-- <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div> -->
            <a [routerLink]="['/dashbord/notification']" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
      </ul>
    </nav>
    
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a class="brand-link">
          <!-- <img src="../../../assets/image1.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
              style="opacity: .8"> -->
          <span class="brand-text font-weight-light pointer" style="color: white;" (click)="gotopage('dashbord/dashboard')">Kixtor</span>
      </a>
    
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="../../../assets/logo.png" style="width: 6rem;" class="img-circle" alt="User Image">
          </div>
          <div class="info">
            <a  class="d-block">Admin</a>
          </div>
        </div>
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                 
              <li class="nav-item ">
                <a class="nav-link pointer">
                  <p class="text" (click)="gotopage('dashbord/manage-user')" >
                    Manage User 
                  </p>
                </a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link pointer">
                  <p class="text"  (click)="gotopage('dashbord/manage-membership')" >
                    Manage Membership

                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer">
                  <p class="text" (click)="gotopage('dashbord/manage-category')" > 
                    Manage Strengths 
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer">
                  <p class="text"  (click)="gotopage('dashbord/manage-cofounder')">     
                    Manage Skill-Set
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer">
                  <p class="text" > 
                    Manage Profile
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer">
                  <p class="text" > 
                    Send Notification 
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer">
                  <p class="text" (click)="gotopage('dashbord/mentor')" > 
                    CMS 
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer" (click)="logout()">
                  <p class="text" > 
                      Log-Out
                  </p>
                </a>
              </li>
            </ul>
          </nav>
      </div>
    </aside>
    
    </div>
    
    