<div class="wrapper">
    <app-navbarpage></app-navbarpage>
    <div class="loader" *ngIf="isLoading"></div>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <app-sub-header></app-sub-header>
                <hr>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>About Us</label>
                            <textarea name="editor1"></textarea>
                          <!-- <textarea rows="12"class="form-control" [(ngModel)] ="about" placeholder="About Us"></textarea> -->
                        </div>
                    </div>

                    <div class="row" style="text-align: center;">
                        <div class="col-md-12">
                        <button type="button" class="btn btn-info buttonpostion mt-3"  (click)="submit()">Submit</button>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>
</div>