<div class="wrapper">
    <app-navbarpage></app-navbarpage>
    <div class="loader" *ngIf="isLoading"></div>
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card mt-3 width">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="card-title"> Manage-User </p>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" (click)="addUser()" style="float: right;"
                                        class="btn btn-success">
                                        <i class="fas fa-plus"></i> Add New User</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> User Image</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact Number</th>
                                    <th>Gender</th>
                                    <th> Account Type</th>
                                    <th> Account Approve</th>
                                    <th> Account Action</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let all of allUser;let i = index">
                                    <td>{{i+1}} </td>
                                    <td> <span *ngIf="all && all.Uploaded_filename"><img src="{{apiservice.apiUrl}}/static/{{all.Uploaded_filename}}" style="height: 70px;width: 70px;"/> </span> </td>
                                    <td>{{all.name}}</td>
                                    <td>{{all.email}}</td>
                                    <td>{{all.country_code}}{{all.contact_number}}</td>
                                    <td>{{all.gender}}</td>
                                    <td>{{all.is_membership}} </td>
                                    <td> {{all.is_verify}}</td>
                                    <td>
                                     <span *ngIf="all.is_verify == 'notapprove'">  <button type="button" (click)="accountapprove(all, 'approve')" class="btn btn-info">Approve</button>   </span> 
                                    <span *ngIf="all.is_verify == 'approve'">   <button type="button" (click)="accountapprove(all, 'notapprove')" class="btn btn-info">Reject</button>  </span> 
                                </td>
                                    <td>
                                        <i  class="fa fa-eye view-icon mr-2" aria-hidden="true"  (click)="openDetail(all)" data-toggle="modal" data-target="#viewData"></i>
                                        <i class="fa fa-pencil-square-o edit-icon mr-2" 
                                        (click)="editUser(all._id)" aria-hidden="true"></i>
                                        <i class="fa fa-trash delete-icon" title="delete" (click)="deleteUser(all._id,i)"
                                            ></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



  
  <!-- Modal -->
  <div class="modal fade" id="viewData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">View User Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row ">
                <div class="col-md-6">
                    <label>Name</label>
                    <p>{{details.name}}</p>
                </div>
                <div class="col-md-6">
                    <img [src] = "details.profile" width="125px">
                </div>
                <div class="col-md-6">
                    <label>Contact Number </label>
                    <p>{{details.country_code}} {{details.contact_number}}</p>
                </div>
                <div class="col-md-6">
                    <label>Email </label>
                    <p>{{details.email}}</p>
                </div>
                <div class="col-md-6">
                    <label>Gender</label>
                    <p>{{details.gender}}</p>
                </div>
                <div class="col-md-6">
                    <label>Country</label>
                    <p>{{details.country}}</p>
                </div>
                <div class="col-md-6">
                    <label>State</label>
                    <p>{{details.state}}</p>
                </div>
                <div class="col-md-6">
                    <label>Strengths</label>
                    <p>{{details.strengths}}</p>
                </div>
                <div class="col-md-6">
                    <label>Skills</label>
                    <p>{{details.skills}}</p>
                </div>
                <div class="col-md-6">
                    <label>Stage</label>
                    <p>{{details.stageValue}}</p>
                </div>
                <div class="col-md-6">
                    <label>Industry</label>
                    <p>{{details.industry}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>