<div class="wrapper">
    <app-navbarpage></app-navbarpage>
    <div class="loader" *ngIf="isLoading"></div>
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card mt-3 width">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="card-title"> Manage-Membership </p>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" (click)="addMembership()" style="float: right;"
                                        class="btn btn-success">
                                        <i class="fas fa-plus"></i> Add New Membership</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Package Name</th>
                                    <th>Package Amount</th>
                                    <th>No. of Months</th>
                                    <th>View Phone Numbers</th>
                                    <th>Can Connect And Message Profile</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let all of allMembership;let i = index">
                                    <td>{{i+1}} </td>
                                    <td>{{all.name}}</td>
                                    <td>{{all.amount}}</td>
                                    <td>{{all.months}}</td>
                                    <td>{{all.view_phone}}</td>
                                    <td>{{all.connect_message}}</td>
                                    <td>
                                        <i class="fa fa-pencil-square-o edit-icon mr-2" (click)=editMembership(all._id) 
                                            aria-hidden="true"></i>
                                        <i class="fa fa-trash pointer delete-icon" title="delete" (click)="deleteMembership(all._id,i)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>