<div class="hold-transition login-page">
<div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <img src="../../../assets/logo.png" style="width:50%" />
      </div>
      <div class="card-body">
        <p class="login-box-msg" *ngIf="shownewinputbox">You forgot your password? Here you can easily retrieve a new
          password.</p>
        <p class="login-box-msg" *ngIf="!shownewinputbox">You are only one step a way from your new password, recover
          your password now.</p>
        <form action="recover-password.html" method="post">
          <div class="input-group mb-3" *ngIf="shownewinputbox">
            <input type="email"  [(ngModel)]="email" name="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3" *ngIf="!shownewinputbox">
            <input type="number" [(ngModel)]="otp" name="otp" class="form-control" placeholder="enter four digit otp">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-key"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3" *ngIf="!shownewinputbox">
            <input type="password" [(ngModel)]="newpassword" name="newpassword" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3" *ngIf="!shownewinputbox">
            <input type="password" [(ngModel)]="conformpassword"  name="conformpassword" class="form-control" placeholder="Confirm Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button *ngIf="shownewinputbox" (click)="requsetnewpage()" class="btn btn-primary btn-block">Request new password</button>
              <button  *ngIf="!shownewinputbox" class="btn btn-primary btn-block"
              (click)="getconformpassword()">Change password</button>
            </div>
          
            <!-- <div class="loader" *ngIf="isLoading"></div> -->
            <!-- /.col -->
          </div>
          <div class="row" style="margin-left:50%;">
            <div class="spinner-border" *ngIf="isLoading" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
        <p class="mt-3 mb-1">
          <a class="pointer" (click)="gotopage()">Login</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
</div>