.form-gap {
    padding-top: 70px;
}

.lock-icon{
    color: white;
  }

  .login-text{
    color: white;
    cursor: pointer;
  }

  .btn-primary {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}