<div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
       <img src="../../../assets/logo.png" style="width:65%" />
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in to start your session</p>
  
          <form>
            <div class="input-group mb-3">
              <input type="email"  name="email" [(ngModel)]="email" class="form-control" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password"  name="password" [(ngModel)]="password" class="form-control" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Remember Me
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button  class="btn btn-primary btn-block" (click)="login()" >Sign In</button>
              </div>
              <!-- /.col -->
            </div>
            <div class="row" style="margin-left:50%;">
              <div class="spinner-border" *ngIf="isLoading" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </form>
          <div class="row">
          <div class="col-md-6 pointer">
            <p (click)="gotopage()"> Forget Password</p>
          </div>
          </div>
      </div>
    </div>
  </div>