<div class="wrapper">
    <app-navbarpage></app-navbarpage>
    <!-- <div class="loader" *ngIf="isLoading"></div> -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <app-sub-header></app-sub-header>
                <hr>
                <div class="row">
                    <div class="col-md-6" [ngClass]="{'bottom': step === 'true2'}">
                        <p class="center pointer" (click)="highlight('true2')"> Mentor</p>
                    </div>
                    <div class="col-md-6" [ngClass]="{'bottom': step === 'true3'}">
                        <p class="center pointer" (click)="highlight('true3')"> Silder Image</p>
                    </div>
                </div>
                <div class="row">
                    <div class="card mt-3 width">
                        <div class="card-header">
                            <div class="row">
                            <div class="col-md-6">
                                <p class="card-title"> Mentor </p>
                            </div>
                            <div class="col-md-6">
                                <button type="button" (click)="gotopage()" style="float: right;" class="btn btn-success">
                                    <i class="fas fa-plus"></i> Add New Mentor</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mentor Image</th>
                                    <th>Mentor Name</th>
                                    <th>Mentor Email</th>
                                    <th> Mentor Post </th>
                                    <th> Mentor Cost</th>
                                    <th>Mentor Country</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor ="let mentor of getmentor let i = index">
                                    <td>{{i+1}}</td>
                                    <td> <img src="{{apiservice.apiUrl}}/static/{{mentor.mentor_image}}" style="height: 70px;width: 70px;"/></td>
                                    <td>{{mentor.mentor_name}}</td>
                                    <td>{{mentor.mentor_email}}</td>
                                    <td>{{mentor.mentor_post}}</td>
                                    <td>{{mentor.mentor_cost}}/per hours</td>
                                    <td>{{mentor.country}}</td>
                                    <td>
                                        <i class="fa fa-pencil-square-o edit-icon mr-2" (click)="editMentor(mentor._id)"
                                            aria-hidden="true"></i>
                                        <i class="fa fa-trash pointer delete-icon"(click)="delete(mentor,i)" title="delete"
                                            ></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>