<div class="wrapper">
    <app-navbarpage></app-navbarpage>
    <!-- <div class="loader" *ngIf="isLoading"></div> -->
    <div class="content-wrapper">
        <section class="content-header">
           
            <div class="container-fluid">
                <div class="card mt-3 width">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-title">All Notification</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div style="padding:15px" *ngIf="allNotification && allNotification.length">
                        <div *ngFor="let noti of allNotification" class="not-div">
                            <!-- <img *ngIf="noti.user_id.Uploaded_filename" [src]="noti.user_id.Uploaded_filename" class="profile"> -->
                            <img *ngIf="noti.user_id.Uploaded_filename" src="./../../../assets/download.jfif" class="profile">
                            <span>{{noti.user_id.name}}</span>
                            <!-- <span>New User Registered </span> -->
                            <span class="float-right text-muted text-sm">{{getTime(noti.created_at)}}</span>
                        </div>
                    </div>
                    <div *ngIf="allNotification && allNotification.length == 0">
                       <p style="text-align: center;font-size: 18px; margin: revert;">No Notification Found</p>
                    </div>
                </div>
            </div>
        </section>
    </div>