/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}
.width{
    width: 100%;
}

.center{
  text-align: center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 22;
    top: 50vh;
    right: 50%;
    left: 50%;
  }
  

  .delete-icon{
    font-size:21px !important;
    color:red;
    cursor: pointer;
  }
  

  .edit-icon{
    font-size:21px !important;
    color:green;
    cursor: pointer;
  }

  .view-icon{
    font-size:21px !important;
    color:rgb(61, 166, 231);
    cursor: pointer;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .card-title{
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
  }