<div class="row">
    <div class="col-md-2" [ngClass]="{'bottom': activeUrl === 'mentor'}">
        <p class="margin pointer center" (click)="highlight('mentor')" > Mentors   </p>
    </div>
    <div class="col-md-2" [ngClass]="{'bottom': activeUrl === 'home'}">
        <p class="margin pointer center"  (click)="highlight('home')" > Home </p>
    </div>
    <div class="col-md-2" [ngClass]="{'bottom': activeUrl === 'about-us'}">
        <p class="margin pointer center"  (click)="highlight('about-us')"> About-Us </p>
    </div>
    <div class="col-md-2" [ngClass]="{'bottom': activeUrl === 'privacy'}">
        <p class="margin pointer center"  (click)="highlight('privacy')"> Privacy Policy </p>
    </div>
    <!-- <div class="col-md-2" [ngClass]="{'bottom': activeUrl === 'faq'}">
        <p class="margin pointer center"  (click)="highlight('faq')"> FAQ  </p>
    </div> -->
  
    <div class="col-md-2" [ngClass]="{'bottom': activeUrl === 'terms-condition'}">
        <p class="margin pointer center"  (click)="highlight('terms-condition')"> Terms and Conditions   </p>
    </div>
</div>